<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>
    <link href="/static/register.css" rel="stylesheet">
</head>

<body>
    <div class="register-card">
        {% with messages =get_flashed_messages() %}
        {% if messages%}
        {% for message in messages %}
        {{message}}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="register-title">Rest The password</h1>
        <p class="register-subtitle">
            Forgot The password Don't Worry
        </p>
        <form action="{{ url_for('forgotpassword') }}" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            
            <button type="submit" class="register-button">
                Reset
            </button>
        </form>
        <p class="login-text">
            Did You remember password?
            <a href="{{ url_for('login') }}">Login</a>
        </p>
    </div>
</body>

</html>