<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>
    <link href="/static/register.css" rel="stylesheet">
</head>

<body>
    <div class="register-card">
        {% with messages =get_flashed_messages() %}
        {% if messages%}
        {% for message in messages %}
        {{message}}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="register-title">Create Account</h1>
        <p class="register-subtitle">
            Create your account to get started
        </p>
        <form action="{{ url_for('register') }}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your password"
                    required>
            </div>
            <button type="submit" class="register-button">
                Register
            </button>
        </form>
        <p class="login-text">
            Already have an account?
            <a href="{{ url_for('login') }}">Login</a>
        </p>
    </div>
</body>

</html>