{% extends "dashboard.html" %}
{% block title %}<title>Files</title>
{% endblock %}
{% block addcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='viewallnotes.css') }}">{% endblock %}
{% block content %}

<main class="notes-page">
    <div class="notes-container">
        <div style="text-align: center; font-weight: bold;">
            {% with messages =get_flashed_messages() %}
            {% if messages%}
            {% for message in messages %}
            {{message}}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <h1 class="notes-heading">Files</h1>
        <div class="notes-table-wrapper">
            <table class="notes-table">
                <thead class="notes-table-head">
                    <tr class="notes-table-row">
                        <th class="notes-table-header notes-id-column">File ID</th>
                        <th class="notes-table-header">File Name</th>
                        <th class="notes-table-header notes-date-column">Uploaded At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in files_data %}
                    <tr class="notes-table-row">
                        <td class="notes-table-data notes-id-column">{{i[0]}}</td>
                        <td class="notes-table-data notes-heading-column">{{i[1]}}</td>
                        <td class="notes-table-data notes-date-column">{{i[2]}}</td>
                        <td><a href="#">Download</a></td>
                        <td><a href="#"
                                onclick="return confirm('Are you sure you want to delete this file?')">Delete</a></td>
                    </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}